* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  /* color: #555; */
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
body {
  overflow-x: hidden;
}
.row {
}
/* #app {
  max-width: 850px;
  margin: 0 auto;
} */

.spbtn {
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: #555;
  display: inline-flex;
}

@media only screen and (max-width: 600px) {
  h4:not(.flightmap),
  h3:not(.flightmap),
  h2:not(.flightmap),
  h1:not(.flightmap) {
    font-size: 80%;
  }

  .btn {
    font-size: 80%;
  }

  .spbtn {
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.2rem;
    background-color: #555;
    display: inline-flex;
  }
}
